body {

    background-image: url("../img/lmv2.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.column-view {
    font-family: "Georgia", serif;
    font-weight: bold;
    width: 400px;
    color:black ;
    border:1px solid black;
    padding: 5px;

}
.column-viewHeader{
    font-family: "Georgia", serif;
    font-weight: bold;
    width: 400px;
    color:black ;
    border:1px solid black;
    padding: 5px;
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
    background-image: url("../img/bg.gif");

}
.table-userdata
{
    position:static;
    left:0px;
    top: 100px;
    z-index:5;
}

.div-content
{
    background-color: #ededed;
    border: 1px solid #aaacb2;
    border-radius: 10px;
    padding: 5px;
    margin-top: 5px;
    font-family: sans-serif;
    opacity: 100;
    width: 750px;


}

#ansver
{
    font-family: sans-serif;
    background-color: #fffa9e;
    border-radius: 5;
}
.fieldsName{
    vertical-align: super;
}

