body {

    background-image: url("../img/lmv2.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.column-view {
    font-family: "Georgia", serif;
    font-weight: bold;
    color:black ;
    border:1px solid black;
    padding: 5px;
}
.table-userdata
{
    position: absolute;
    left:30px;
    top: 100px;
    z-index:5;
}

.div-content
{
    background-color: #ededed;
    border: 1px solid #aaacb2;
    border-radius: 10px;
    padding: 5px;
    margin-top: 5px;
    font-family: sans-serif;
    opacity: 100;
    width: 700px;


}

#ansver
{
    font-family: sans-serif;
    background-color: #fffa9e;
    border-radius: 5;
}

